body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #161616;
    color: #f0f0f0;
}

.content {
    text-align: center;
    justify-content: center;
}

.content a {
    color: #f0f0f0;
    text-decoration: none;
}

.content a:hover {
    color: #ff0062;
}