<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uhcode (404)</title>
    <meta name="title" content="uhcode">
    <meta name="og:title" content="uhcode">
    <meta name="description" content="software developer">
    <meta name="og:description" content="software developer">
    <meta name="image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
    <meta name="og:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="uhcode">
    <meta name="twitter:description" content="software developer">
    <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
    <link rel="icon" href="https://avatars.githubusercontent.com/u/150133465?v=4" type="image/x-icon">
    <link rel="stylesheet" href="/static/output.css">
</head>
    <body class="antialiased font-sans bg-white dark:bg-zinc-900">
        <header class="text-center py-24">
            <h1 class="text-4xl font-extrabold sm:text-5xl tracking-tighter hover:tracking-wider bg-clip-text text-zinc-900 dark:text-transparent bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.yellow.300),theme(colors.green.400),theme(colors.teal.300),theme(colors.blue.400))] bg-[length:200%_auto] animate-gradient drop-shadow-custom-light dark:drop-shadow-custom-dark duration-1000">404</h1>
            <p class="text-xl sm:text-xl font-semibold text-zinc-900 dark:text-zinc-100">
                hi, i think you're lost... just kidding, you're lost.
            </p>
            <div class="mt-6 flex justify-center space-x-4">
                <a class="mt-4 text-lg sm:text-lg font-bold text-zinc-800 dark:text-zinc-300" href="/">uhm... i think you should click this!</a>
            </div>
        </header>
    </body>
</html>