<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhcode</title>
    <link rel="stylesheet" href="/static/style.css"
</head>
<body>
    <span class="content">hello im uhhhhhhhhhhhhhhhhhhhcode.</span>
    <br>
    <span class="content">i like to code and stuff. i also have like 2 braincells that fight eachother</span>
    <br>
    <span class="content"><a href="/telegram">telegram (click me idiot)</a></span>
    <br>
    <span class="content"><a href="/github">github (click me idiot)</a></span>
</body>
</html>