<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>uhcode</title>
        <meta name="title" content="uhcode">
        <meta name="og:title" content="uhcode">
        <meta name="description" content="software developer">
        <meta name="og:description" content="software developer">
        <meta name="image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <meta name="og:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="uhcode">
        <meta name="twitter:description" content="software developer">
        <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <link rel="icon" href="https://avatars.githubusercontent.com/u/150133465?v=4" type="image/x-icon">
        <link rel="stylesheet" href="./static/output.css">
    </head>
    <body class="antialiased font-sans bg-white dark:bg-zinc-900">
        <div class="h-full px-4 sm:px-6 lg:px-8">
            <header class="text-center py-24">
                <h1 class="text-3xl sm:text-6xl font-extrabold text-zinc-800 dark:text-white drop-shadow-light dark:drop-shadow-dark">uhcode</h1>
                <p class="mt-4 text-lg sm:text-xl font-bold text-zinc-800 dark:text-zinc-300">
                    Hey, I'm uhcode! I'm a student software developer studying in Edinburgh.<br>
                    I've got 1 year of web development experience, mainly focusing on back-end with some front-end magic.
                </p>
                <div class="mt-6 flex justify-center space-x-4">
                    <a class="mt-4 text-lg sm:text-lg font-bold text-zinc-800 dark:text-zinc-300" href="/telegram">telegram</a>
                    <a class="mt-4 text-lg sm:text-lg font-bold text-zinc-800 dark:text-zinc-300" href="/github">github</a>
                </div>
            </header>
            <section class="mt-18 px-72">
                <h2 class="text-xl sm:text-2xl font-semibold text-zinc-900 dark:text-white">Experienced in</h2>
                <ul class="mt-4 grid grid-cols-2 sm:grid-cols-2 gap-2 text-zinc-800 dark:text-zinc-400 border border-zinc-300 dark:border-zinc-700 p-4 rounded-lg hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors duration-200 font-semibold">
                    <li class="hover:drop-shadow-light hover:dark:drop-shadow-dark">Python</li>
                    <li class="hover:drop-shadow-light hover:dark:drop-shadow-dark">HTML</li>
                    <li class="hover:drop-shadow-light hover:dark:drop-shadow-dark">PostgreSQL</li>
                    <li class="hover:drop-shadow-light hover:dark:drop-shadow-dark">TailwindCSS</li>
                </ul>
            </section>
            <section class="mt-28 px-72">
                <h2 class="text-2xl font-semibold text-zinc-900 dark:text-white">Projects</h2>
                <article class="mt-6">
                    <article class="border border-zinc-300 dark:border-zinc-700 p-4 rounded-lg hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors duration-200">
                        <h3 class="text-xl font-semibold text-zinc-800 dark:text-zinc-300 hover:text-sky-800 dark:hover:text-sky-400 hover:drop-shadow-blue hover:dark:drop-shadow-sky-blue transition-colors duration-200">
                            <a href="https://january.lol">January</a>
                        </h3>
                        <p class="mt-2 text-zinc-800 dark:text-zinc-400">
                            A fast, secure, and modern API system to make sending and fetching requests simple.
                        </p>
                    </article>
                </article>
            </section>
        </div>
    </body>
</html>