<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>uhcode</title>
        <meta name="title" content="uhcode">
        <meta name="og:title" content="uhcode">
        <meta name="description" content="software developer">
        <meta name="og:description" content="software developer">
        <meta name="image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <meta name="og:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="uhcode">
        <meta name="twitter:description" content="software developer">
        <meta name="twitter:image" content="https://avatars.githubusercontent.com/u/150133465?v=4">
        <link rel="icon" href="https://avatars.githubusercontent.com/u/150133465?v=4" type="image/x-icon">
        <link rel="stylesheet" href="/static/output.css">
    </head>
    <body class="antialiased bg-slate-100 dark:bg-zinc-900">
        <div class="py-36 sm:py-5 text-center justify-items-center text-pretty">
            <h1 class="text-4xl font-extrabold sm:text-5xl tracking-tighter hover:tracking-wider bg-clip-text text-zinc-900 dark:text-transparent bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.yellow.300),theme(colors.green.400),theme(colors.teal.300),theme(colors.blue.400))] bg-[length:200%_auto] animate-gradient drop-shadow-custom-light dark:drop-shadow-custom-dark duration-1000">uhcode.</h1>
            <p class="text-xl sm:text-2xl font-semibold text-slate-900 dark:text-slate-100">uhm i know 3 code langs, about 17+ frameworks...</p>
        </div>
        <div class="text-center">
            <ul class="inline-block">
            <li class="text-xl sm:text-2xl font-bold dark:text-slate-100 tracking-tighter hover:tracking-wider bg-clip-text text-slate-500 dark:text-transparent bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.yellow.300),theme(colors.green.400),theme(colors.teal.300),theme(colors.blue.400))] bg-[length:200%_auto] animate-gradient drop-shadow-custom-light dark:drop-shadow-custom-dark duration-1000 hover:dark:text-white hover:drop-shadow-sky-blue"><a href="/github">Github</a></li>
            <li class="text-xl sm:text-2xl font-bold dark:text-slate-100 tracking-tighter hover:tracking-wider bg-clip-text text-slate-500 dark:text-transparent bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.yellow.300),theme(colors.green.400),theme(colors.teal.300),theme(colors.blue.400))] bg-[length:200%_auto] animate-gradient drop-shadow-custom-light dark:drop-shadow-custom-dark duration-1000 hover:dark:text-white hover:drop-shadow-sky-blue"><a href="/telegram">Telegram</a></li>
            <li class="text-xl sm:text-2xl font-bold dark:text-slate-100 tracking-tighter hover:tracking-wider bg-clip-text text-slate-500 dark:text-transparent bg-[linear-gradient(to_right,theme(colors.purple.400),theme(colors.pink.300),theme(colors.orange.400),theme(colors.yellow.300),theme(colors.green.400),theme(colors.teal.300),theme(colors.blue.400))] bg-[length:200%_auto] animate-gradient drop-shadow-custom-light dark:drop-shadow-custom-dark duration-1000 hover:dark:text-white hover:drop-shadow-sky-blue"><a href="/bluesky">Bluesky</a></li>
            </ul>
        </div>
    </body>
</html>